/* body{
    background-color:brown;
} */
 /* p,h2{
    background-color: aqua;
    color: blueviolet;
 }

 #para1{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: xx-large;
 } */
/* 
 .para1{
    background-color: aquamarine;
 } */


 div~p{
    background-color: aquamarine;
 }

 p:hover{
    background-color: cadetblue;
    font-size: xx-large;
 }

 p::before{
    content: "Hiiiiiiii";
 }

 p::after{
    background-color: brown;
    content: "Hii, using content append in paragraph";
 }

 p::selection{
    background-color: chartreuse;
 }

 p:nth-child(2){
    background-color: chocolate;
 }

 div p:nth-of-type(1){

 }