.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 70px 500px 200px;
    border: 1px solid red;
    background-color: chartreuse;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:black;

    color: white;
}
.header1
{
background-color: rgb(15, 17, 17);
color: white;
grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
}


.box1{
     /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; */
    /* height: 400px;
    width: 300px; */
    /* grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    border: 1px dotted brown;
    background-color: aquamarine;
    /* gap: 20px; */
   
}

.box11{
     height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: aqua;
     margin-top: 20px;
    margin-left: 20px;
}

.box12{
    height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: black;
    margin-top: 20px;
}

.box13{
     height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: brown;
    margin-left: 20px;
}

.box14{
     height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: cadetblue;
}
.box2
{

/* height: 400px;
    width: 300px; */
    /* grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; */
    border: 1px dotted brown;
    background-color: red;
}
.box3{
/* height: 400px;
    width: 300px; */
    border: 1px dotted brown;
    background-color: cyan;
}
/* .box4{
height: 400px;
    width: 300px;
    border: 1px dotted brown;
    background-color: yellow;
} */

.footer{
grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: black;
    border: 1px solid white;
    color: white;
}